<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=K2D:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="design.css">
    <title>Design</title>
</head>
<body>
    <nav>
        <div class="nav-icon">
            <svg width="65" height="65" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="Frame 1" clip-path="url(#clip0_1_2)">
                <g id="Group 1">
                <path id="rightE" d="M84.7 27.96C84.7 26.82 84.28 25.89 83.44 25.17C82.6 24.39 81.58 24 80.38 24H40.51C40.51 26.52 41.02 28.38 42.04 29.58C43.06 30.78 44.65 31.38 46.81 31.38H76.24V51.54H51.04C51.04 54.06 51.55 55.92 52.57 57.12C53.59 58.32 55.15 58.92 57.25 58.92H76.24V79.62H44.92C42.82 79.62 41.26 80.22 40.24 81.42C39.22 82.62 38.71 84.48 38.71 87H80.38C81.58 87 82.6 86.64 83.44 85.92C84.28 85.14 84.7 84.18 84.7 83.04V27.96Z" fill="white"/>
                <path id="leftE" d="M15.3 17.96C15.3 16.82 15.72 15.89 16.56 15.17C17.4 14.39 18.42 14 19.62 14H59.49C59.49 16.52 58.98 18.38 57.96 19.58C56.94 20.78 55.35 21.38 53.19 21.38H23.76V41.54H48.96C48.96 44.06 48.45 45.92 47.43 47.12C46.41 48.32 44.85 48.92 42.75 48.92H23.76V69.62H55.08C57.18 69.62 58.74 70.22 59.76 71.42C60.78 72.62 61.29 74.48 61.29 77H19.62C18.42 77 17.4 76.64 16.56 75.92C15.72 75.14 15.3 74.18 15.3 73.04V17.96Z" fill="white"/>
                </g>
                </g>
                <defs>
                <clipPath id="clip0_1_2">
                <rect width="100" height="100" fill="white"/>
                </clipPath>
                </defs>
            </svg>
        </div>
        <button id="contact-button">Get in touch</button>
    </nav>
        <div class="intro-text">Experience</div> 
        <div class="intro-text">Everything.</div>
    <div class="panel" id="first-panel">
        <h2>Experience</h2>
        <div id="mediaPanel"></div>
        <h2>Everything.</h2>
        <%#<div id="nav-pointer">&#8659;</div>%>
        <button id="first-guide-button">&#8659;</button>
    </div>
    <div class="panel" id="second-panel">
        <h1 class="aniBottom" id="scrollTarget">Capture <span>your</span> audience</h1>
        <div class="appealSection">
            <div class="appealSVG">SVG</div>
            <div class="appealText">Knowing what captivates your audience and moving accordingly greatly improves user engagement.</div>
        </div>
        <div class="appealSection">
            <div class="appealTextInverse">Knowing what captivates your audience and moving accordingly greatly improves user engagement.</div>
            <div class="appealSVGInverse">SVG</div>
        </div>
        <div class="appealSection">
            <div class="appealSVG">SVG</div>
            <div class="appealText">Knowing what captivates your audience and moving accordingly greatly improves user engagement.</div>
        </div>

    </div>
    <div class="panel" id="third-panel">
        <h1 class="aniBottom">Services we offer:</h1>

    </div>
    <div class="panel">
        <h1 class="aniBottom">Let's connect!</h1>

    </div>
    <script src="/design.js"></script>
</body>
</html>