<div class="projectHolder">
    <div class="projectCard">
        <div class="projectImage"></div>
        <div class="projectBody">
            <div class="projectName">YelpCamp</div>
            <div class="projectDesc">
                A place where camping enthusiasts can look for campground locations and prices. Users can create an account and leave reviews for 
                campsites they have visited. Additonally, campsites can be added to database by owners.
                Based on YelpCamp project created for Colt Steele's bootcamp.
            </div>
        </div>
    </div>
    <div class="projectCard">
        <div class="projectImage"></div>
        <div class="projectBody">
            <div class="projectName">Project!</div>
            <div class="projectDesc">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem ipsam laboriosam quasi distinctio! Beatae veniam voluptatum porro tempore repudiandae, qui officiis laborum, deleniti minima placeat assumenda atque autem ratione dolorum!
                Consequuntur quo voluptatum fugiat earum porro labore quas error odio quasi, impedit non harum possimus voluptate eum aliquid consequatur totam deleniti. Libero facere nemo eligendi et dolore aperiam exercitationem alias!
                Vitae dignissimos voluptatum iste eius, atque maxime qui in enim quidem! Iste cumque laudantium molestiae laboriosam atque est reprehenderit, magni quidem animi illum officiis consequuntur commodi sit mollitia iusto veritatis?
            </div>
        </div>
    </div>
</div>