<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="test.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
    
    <title>Home</title>
    <nav>
            <svg width="95px" height="95px" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="Frame 1">
            <rect width="100" height="100"/>
            <a id="logo" href=""><g id="logo">
            <path id="Vector 2" d="M61 28C60.3333 27.1667 55 34.2 39 69L60 39.5L77.5 69L61 28Z" fill="white" stroke="white"/>
            <path id="Vector 1" d="M55.3851 70.6456C35.8457 64.0444 8.18125 45.2736 53.8379 23C48.4966 28.0165 37.9741 39.9742 38.6145 47.6729C39.2549 55.3715 50.0617 66.1958 55.3851 70.6456Z" fill="white" stroke="white"/>
            <path id="Vector 3" d="M59.5 50L49.5 54L60 47L68.5 54L59.5 50Z" fill="white" stroke="white"/>
            </g>
            </g>
            </svg>      
        </a>
        <a id="contactLink" href="">Contact Me</a>
    </nav>
    <%# stops automatic scrolling on refresh %>
    <%#<script>history.scrollRestoration = "manual"</script>%>
</head>

<body>
    <div id="first" class="panel">
        <div class="container" id="container">
        <svg id="firstBackground" width="100%" height="100%" viewBox="0 0 1440 1024" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice">
            <g id="scene" clip-path="url(#clip0_0_1)">
            <rect width="1440" height="1024" fill="#2C3B52"/>
            <g id="background">
            <path id="purpleBack" d="M761.982 397.178C855.895 251.613 626.27 241.108 727.24 0H1440V1035.46L761.982 1116C754.201 1097.99 733.646 1043.07 713.669 967.433C688.698 872.891 829.296 848.38 787.496 704.816C745.697 561.251 668.07 542.743 761.982 397.178Z" fill="#C3A9FF" stroke="#C3A9FF"/>
            <path id="Vector 1" d="M945.5 193.5C913.1 118.3 965.333 33.1667 995.5 0H1438V1083.5H1010.5C1001.83 1060.83 993.9 994.2 1031.5 909C1069.1 823.8 1007.17 733.5 971.5 699C905.5 573.4 952.667 480 984.5 449C1032.5 334.2 978.5 230.833 945.5 193.5Z" fill="#BFA4FF" stroke="#C3A9FF"/>
            <path id="Vector 2" d="M1209 177.5C1170.2 80.7 1225.17 19.8333 1257.5 1.5H1444.5V1043L1289.5 1069C1273.33 1060.33 1238.1 1024 1226.5 948C1214.9 872 1263.67 815 1289.5 796C1326.7 719.6 1263 629.5 1226.5 594C1201.7 516.4 1269.17 439 1306 410C1344.8 332.4 1257.5 222.667 1209 177.5Z" fill="#BC9EFF" stroke="#BFA4FF"/>
            </g>
            <g id="desktop">
            <path id="Polygon 1" d="M1157 798L1221.09 867.75H1092.91L1157 798Z" fill="white"/>
            <rect id="Rectangle 3" x="1123" y="780" width="65" height="65" fill="white"/>
            <rect id="Rectangle 2" x="949" y="512" width="415" height="286" rx="10" fill="white"/>
            <ellipse id="Ellipse 1" cx="1157" cy="870.5" rx="64" ry="20.5" fill="white"/>
            <rect id="Rectangle 7" x="964" y="526" width="385" height="256" rx="8" fill="#FFBCBC"/>
            </g>
            <g id="phone">
            <rect id="Rectangle 1" width="115.19" height="207.513" rx="10" transform="matrix(0.999991 -0.00424479 0.00390772 0.999992 891 684.489)" fill="#2C3B52"/>
            <rect id="Rectangle 6" x="898" y="690" width="102" height="195" rx="6" fill="#ABFFFA"/>
            <path id="Rectangle 8" d="M928 688H970V690C970 694.418 966.418 698 962 698H936C931.582 698 928 694.418 928 690V688Z" fill="#2C3B52"/>
            </g>
            <g id="frames">
            <g id="frame1">
            <rect id="mainFrame3" x="898" y="281.998" width="301.872" height="200.002" rx="10" fill="white"/>
            <g id="nav">
            <path id="Rectangle 4" d="M898 291.883C898 286.361 902.477 281.883 908 281.883H1189.58C1195.1 281.883 1199.58 286.361 1199.58 291.883V304.624H898V291.883Z" fill="#2C3B52"/>
            <ellipse id="Ellipse 3" cx="949.512" cy="292.799" rx="4.68295" ry="4.5481" fill="#12BF47"/>
            <ellipse id="Ellipse 2" cx="930.781" cy="292.799" rx="4.68295" ry="4.5481" fill="#F6BA2B"/>
            <ellipse id="Ellipse 1_2" cx="912.049" cy="292.799" rx="4.68295" ry="4.5481" fill="#E35852"/>
            </g>
            </g>
            <g id="frame2">
            <rect id="mainFrame2" x="984.166" y="227.306" width="301.872" height="199.694" rx="10" fill="#ABFFFA"/>
            <g id="nav_2">
            <path id="Rectangle 4_2" d="M984.166 237.306C984.166 231.783 988.643 227.306 994.166 227.306H1275.75C1281.27 227.306 1285.75 231.783 1285.75 237.306V250.012H984.166V237.306Z" fill="#2C3B52"/>
            <ellipse id="Ellipse 3_2" cx="1035.68" cy="238.205" rx="4.68295" ry="4.5411" fill="#12BF47"/>
            <ellipse id="Ellipse 2_2" cx="1016.95" cy="238.205" rx="4.68295" ry="4.5411" fill="#F6BA2B"/>
            <ellipse id="Ellipse 1_3" cx="998.215" cy="238.205" rx="4.68295" ry="4.5411" fill="#E35852"/>
            </g>
            <g id="hamburger">
            <rect id="Rectangle 19" x="993" y="256.954" width="20" height="19.9692" rx="2" fill="#95F8F2"/>
            <rect id="Rectangle 22" x="995" y="269.934" width="16" height="3.99384" rx="1" fill="white"/>
            <rect id="Rectangle 20" x="995" y="259.95" width="16" height="3.99384" rx="1" fill="white"/>
            <rect id="Rectangle 21" x="995" y="264.942" width="16" height="3.99384" rx="1" fill="white"/>
            </g>
            <path id="Polygon 2" d="M1069.69 326.838C1070.41 325.308 1072.59 325.308 1073.31 326.838L1108.69 401.897C1109.32 403.224 1108.35 404.75 1106.88 404.75H1036.12C1034.65 404.75 1033.68 403.224 1034.31 401.897L1069.69 326.838Z" fill="#2C3B52"/>
            <path id="Polygon 2_2" d="M1027.69 309.838C1028.41 308.308 1030.59 308.308 1031.31 309.838L1066.69 384.897C1067.32 386.224 1066.35 387.75 1064.88 387.75H994.116C992.649 387.75 991.681 386.224 992.307 384.897L1027.69 309.838Z" fill="#2C3B52"/>
            <path id="Vector 10" d="M1043 363.266C1011.8 368.866 991.333 360.933 985 356.266V395.766H1286.5V366.266C1272.67 365.933 1242 364.166 1230 359.766C1215 354.266 1173.5 363.266 1160 369.266C1146.5 375.266 1123 359.766 1104.5 354.766C1086 349.766 1082 356.266 1043 363.266Z" fill="white" fill-opacity="0.2"/>
            <path id="Vector 4" d="M1049.78 383.415C1037.11 389.076 1032.4 368.97 992.773 375.81C988.2 376.599 985 380.683 985 385.323V417C985 422.523 989.477 427 995 427H1275C1280.52 427 1285 422.523 1285 417V383.382C1285 379.7 1282.98 376.316 1279.73 374.573L1257.03 362.374C1256.41 362.041 1255.76 361.766 1255.08 361.615C1245.66 359.542 1220.19 361.627 1184.39 385.063C1183.05 385.942 1181.51 386.526 1179.91 386.654C1154.45 388.695 1138.54 377.082 1108.59 366.883C1077.69 356.362 1063.24 377.403 1049.78 383.415Z" fill="#95F8F2" stroke="#95F8F2" stroke-width="2"/>
            <g id="birds">
            <ellipse id="Ellipse 9" cx="1072" cy="330.5" rx="2" ry="1.5" fill="white"/>
            <g id="Vector 9">
            <path d="M1073.34 332.25C1073.2 332.509 1073.08 332.76 1072.98 333L1063.55 331.257L1057 331.257C1064.21 325.216 1070.24 329.902 1072.98 333C1072.98 332.776 1073.1 332.521 1073.34 332.25C1075.52 328.123 1081.75 322.08 1091 329.514C1082.72 327.471 1075.07 330.279 1073.34 332.25Z" fill="white"/>
            <path d="M1072.98 333C1074.75 328.934 1081.17 321.614 1091 329.514C1081.58 327.191 1072.98 331.141 1072.98 333ZM1072.98 333C1070.24 329.902 1064.21 325.216 1057 331.257L1063.55 331.257L1072.98 333Z" stroke="white"/>
            </g>
            <g id="Vector 6">
            <path d="M1029.7 304.277C1030.94 293.96 1038.74 303.413 1042.49 309.428C1039.51 305.444 1032.78 298.835 1029.7 304.277C1023.58 299.375 1020.93 306.898 1020.37 311.272C1019.08 295.687 1026.05 300.115 1029.7 304.277Z" fill="white"/>
            <path d="M1029.7 304.277C1030.94 293.96 1038.74 303.413 1042.49 309.428C1039.51 305.444 1032.78 298.835 1029.7 304.277ZM1029.7 304.277C1026.05 300.115 1019.08 295.687 1020.37 311.272C1020.93 306.898 1023.58 299.375 1029.7 304.277Z" stroke="white" stroke-width="2"/>
            </g>
            <g id="Vector 5">
            <path d="M1083.09 295.563C1083.16 291.468 1085.44 285.644 1094 295.108C1090.78 292.454 1084.1 288.829 1083.09 295.563C1073.65 293.743 1074.28 300.796 1074.28 301.933C1074.28 303.071 1071.55 289.193 1083.09 295.563Z" fill="white"/>
            <path d="M1083.09 295.563C1083.16 291.468 1085.44 285.644 1094 295.108C1090.78 292.454 1084.1 288.829 1083.09 295.563ZM1083.09 295.563C1073.65 293.743 1074.28 300.796 1074.28 301.933C1074.28 303.071 1071.55 289.193 1083.09 295.563Z" stroke="white" stroke-width="2"/>
            </g>
            <g id="Vector 7">
            <path d="M1058.88 317.751C1059.51 313.704 1062.57 308.245 1069.75 318.788C1066.93 315.72 1060.8 311.217 1058.88 317.751C1049.78 314.66 1049.44 321.733 1049.29 322.86C1049.13 323.987 1048.32 309.867 1058.88 317.751Z" fill="white"/>
            <path d="M1058.88 317.751C1059.51 313.704 1062.57 308.245 1069.75 318.788C1066.93 315.72 1060.8 311.217 1058.88 317.751ZM1058.88 317.751C1049.78 314.66 1049.44 321.733 1049.29 322.86C1049.13 323.987 1048.32 309.867 1058.88 317.751Z" stroke="white" stroke-width="2"/>
            </g>
            <g id="Vector 8">
            <path d="M1012.05 329.67C1011.65 325.594 1013.25 319.547 1022.83 327.97C1019.33 325.701 1012.28 322.865 1012.05 329.67C1002.46 328.942 1003.89 335.876 1004.02 337.007C1004.15 338.137 999.857 324.662 1012.05 329.67Z" fill="white"/>
            <path d="M1012.05 329.67C1011.65 325.594 1013.25 319.547 1022.83 327.97C1019.33 325.701 1012.28 322.865 1012.05 329.67ZM1012.05 329.67C1002.46 328.942 1003.89 335.876 1004.02 337.007C1004.15 338.137 999.857 324.662 1012.05 329.67Z" stroke="white" stroke-width="2"/>
            </g>
            </g>
            </g>
            <g id="frame3">
            <rect id="mainFrame1" x="1088.13" y="170" width="301.872" height="200.002" rx="10" fill="#FFBCBC"/>
            <g id="nav_3">
            <path id="Rectangle 4_3" d="M1088.13 180C1088.13 174.477 1092.6 170 1098.13 170H1379.71C1385.23 170 1389.71 174.477 1389.71 180V192.741H1088.13V180Z" fill="#2C3B52"/>
            <ellipse id="Ellipse 3_3" cx="1139.64" cy="180.915" rx="4.68295" ry="4.5481" fill="#12BF47"/>
            <ellipse id="Ellipse 2_3" cx="1120.91" cy="180.915" rx="4.68295" ry="4.5481" fill="#F6BA2B"/>
            <ellipse id="Ellipse 1_4" cx="1102.18" cy="180.915" rx="4.68295" ry="4.5481" fill="#E35852"/>
            </g>
            <g id="lineGraph">
            <path id="Vector 3" d="M1261 302L1286.5 284L1300 296.5L1320 270.5L1338.5 261L1352 284" stroke="#BFA4FF" stroke-width="2"/>
            <line id="Line 2" x1="1260" y1="325" x2="1350" y2="325" stroke="white" stroke-width="2"/>
            <line id="Line 1" x1="1261" y1="243" x2="1261" y2="326" stroke="white" stroke-width="2"/>
            <circle id="Ellipse 7" cx="1338" cy="261" r="2" fill="white"/>
            <circle id="Ellipse 8" cx="1352" cy="283" r="2" fill="white"/>
            <circle id="Ellipse 6" cx="1319" cy="271" r="2" fill="white"/>
            <circle id="Ellipse 5" cx="1300" cy="296" r="2" fill="white"/>
            <circle id="Ellipse 4" cx="1286" cy="284" r="2" fill="white"/>
            </g>
            <g id="barGraph">
            <rect id="Rectangle 9" x="1116" y="227" width="17" height="53" fill="white"/>
            <rect id="Rectangle 11" x="1168" y="244" width="17" height="36" fill="white"/>
            <rect id="Rectangle 10" x="1142" y="213" width="17" height="67" fill="#ABFFFA"/>
            <rect id="Rectangle 12" x="1194" y="227" width="17" height="53" fill="#ABFFFA"/>
            </g>
            <g id="comments">
            <rect id="Rectangle 13" x="1116" y="298" width="5" height="14" fill="#E35852"/>
            <rect id="Rectangle 14" x="1116" y="320" width="5" height="14" fill="#12BF47"/>
            <rect id="Rectangle 15" x="1116" y="342" width="5" height="14" fill="#12BF47"/>
            <path id="Rectangle 16" d="M1125 302H1216V310H1125V302Z" fill="#2C3B52"/>
            <rect id="Rectangle 17" x="1125" y="323" width="91" height="8" fill="#2C3B52"/>
            <rect id="Rectangle 18" x="1125" y="345" width="91" height="8" fill="#2C3B52"/>
            </g>
            </g>
            </g>
            </g>
            <defs>
            <clipPath id="clip0_0_1">
            <rect width="1440" height="1024" fill="white"/>
            </clipPath>
            </defs>
            </svg>
            <p id="title" name="title">Hi, I'm Christian Arevalo.<br><span>I create beautiful websites.</span></p>

            <svg id="logos" width="430" height="81" viewBox="0 0 430 81" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="Frame 1">
                <rect width="430" height="81" rx="1" fill="none"/>
                <a href=""><path id="codePenLogo" d="M241.998 49.0776L215 31.9224L188 49.0776M188 31.9233L215 48.8466L242 31.9242M215 15V31.9224M215 49.0767V65.9991M188 49.0776L215 66L242 49.0776V31.9224L215 15L188 31.9224V49.0776Z" stroke="white" stroke-width="6.05" stroke-linecap="round" stroke-linejoin="round"/></a>
                <a href=""><path id="gitHubLogo" d="M215 14C200.092 14 188 26.1653 188 41.1699C188 53.1745 195.735 63.3587 206.466 66.9519C207.813 67.2033 208.25 66.361 208.25 65.6455V60.5874C200.739 62.2312 199.176 57.3813 199.176 57.3813C197.947 54.2409 196.177 53.4055 196.177 53.4055C193.726 51.7187 196.363 51.7549 196.363 51.7549C199.075 51.9451 200.501 54.5557 200.501 54.5557C202.909 58.7081 206.817 57.5081 208.358 56.813C208.599 55.0583 209.299 53.8583 210.073 53.1813C204.076 52.4907 197.772 50.1609 197.772 39.7526C197.772 36.7842 198.827 34.3616 200.553 32.4597C200.274 31.7737 199.349 29.0091 200.816 25.2687C200.816 25.2687 203.084 24.5397 208.243 28.0536C210.396 27.4514 212.705 27.1502 215 27.1389C217.295 27.1502 219.606 27.4514 221.763 28.0536C226.918 24.5397 229.182 25.2687 229.182 25.2687C230.651 29.0114 229.726 31.7759 229.447 32.4597C231.18 34.3616 232.226 36.7865 232.226 39.7526C232.226 50.1881 225.91 52.4862 219.898 53.1587C220.866 54.0009 221.75 55.6538 221.75 58.1896V65.6455C221.75 66.3678 222.182 67.2168 223.552 66.9497C234.273 63.3519 242 53.17 242 41.1699C242 26.1653 229.911 14 215 14Z" fill="white"/></a>
                <a href=""><path id="linkedInLogo" d="M230.75 14H199.25C193.038 14 188 18.9445 188 25.0417V55.9583C188 62.0555 193.038 67 199.25 67H230.75C236.965 67 242 62.0555 242 55.9583V25.0417C242 18.9445 236.965 14 230.75 14ZM206 55.9583H199.25V31.6667H206V55.9583ZM202.625 28.8665C200.451 28.8665 198.688 27.1219 198.688 24.971C198.688 22.8201 200.451 21.0755 202.625 21.0755C204.799 21.0755 206.562 22.8201 206.562 24.971C206.562 27.1219 204.801 28.8665 202.625 28.8665ZM233 55.9583H226.25V43.5828C226.25 36.1452 217.25 36.7083 217.25 43.5828V55.9583H210.5V31.6667H217.25V35.5644C220.391 29.8536 233 29.4318 233 41.0322V55.9583Z" fill="white"/></a>
                </g>
            </svg>
                
        </div>
    </div>

    <%# ------------------------------------- SECOND PANEL -------------------------------------%>
    <div id="second" class="panel">
        <div class="container">
                <svg id="panel2Background" width="100%" height="100%" viewBox="0 0 1440 1024" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice">
                    <g id="Squares">
                    <g id="squaresGroup">
                    <g id="square">
                    <rect id="Rectangle 1" x="396.276" y="699.385" width="77" height="77" transform="rotate(63.4698 396.276 699.385)" stroke="#C3A9FF" stroke-width="8"/>
                    <rect id="Rectangle 2" x="388.957" y="721.411" width="45" height="45" transform="rotate(63.2135 388.957 721.411)" stroke="#C3A9FF" stroke-width="5"/>
                    </g>
                    <g id="square_2">
                    <rect id="Rectangle 1_2" x="581.174" y="814.616" width="77" height="77" transform="rotate(134.883 581.174 814.616)" stroke="#C3A9FF" stroke-width="8"/>
                    <rect id="Rectangle 2_2" x="557.964" y="814.699" width="45" height="45" transform="rotate(134.627 557.964 814.699)" stroke="#C3A9FF" stroke-width="5"/>
                    </g>
                    <g id="square_3">
                    <rect id="Rectangle 1_3" x="724.503" y="738.928" width="77" height="77" transform="rotate(109.521 724.503 738.928)" stroke="#C3A9FF" stroke-width="8"/>
                    <rect id="Rectangle 2_3" x="703.565" y="748.946" width="45" height="45" transform="rotate(109.265 703.565 748.946)" stroke="#C3A9FF" stroke-width="5"/>
                    </g>
                    <g id="square_4">
                    <rect id="Rectangle 1_4" x="822.277" y="770.385" width="77" height="77" transform="rotate(63.4698 822.277 770.385)" stroke="#C3A9FF" stroke-width="8"/>
                    <rect id="Rectangle 2_4" x="814.957" y="792.411" width="45" height="45" transform="rotate(63.2135 814.957 792.411)" stroke="#C3A9FF" stroke-width="5"/>
                    </g>
                    <g id="square_5">
                    <rect id="Rectangle 1_5" x="907.194" y="738.139" width="77" height="77" transform="rotate(-16.5591 907.194 738.139)" stroke="#C3A9FF" stroke-width="8"/>
                    <rect id="Rectangle 2_5" x="927.62" y="749.162" width="45" height="45" transform="rotate(-16.8155 927.62 749.162)" stroke="#C3A9FF" stroke-width="5"/>
                    </g>
                    <g id="square_6">
                    <rect id="Rectangle 1_6" x="147.174" y="766.616" width="77" height="77" transform="rotate(134.883 147.174 766.616)" stroke="#C3A9FF" stroke-width="8"/>
                    <rect id="Rectangle 2_6" x="123.964" y="766.699" width="45" height="45" transform="rotate(134.627 123.964 766.699)" stroke="#C3A9FF" stroke-width="5"/>
                    </g>
                    <g id="square_7">
                    <rect id="Rectangle 1_7" x="1104.49" y="762.583" width="77" height="77" transform="rotate(44.4313 1104.49 762.583)" stroke="#C3A9FF" stroke-width="8"/>
                    <rect id="Rectangle 2_7" x="1104.75" y="785.792" width="45" height="45" transform="rotate(44.175 1104.75 785.792)" stroke="#C3A9FF" stroke-width="5"/>
                    </g>
                    <g id="square_8">
                    <rect id="Rectangle 1_8" x="1257.28" y="701.385" width="77" height="77" transform="rotate(63.4698 1257.28 701.385)" stroke="#C3A9FF" stroke-width="8"/>
                    <rect id="Rectangle 2_8" x="1249.96" y="723.411" width="45" height="45" transform="rotate(63.2135 1249.96 723.411)" stroke="#C3A9FF" stroke-width="5"/>
                    </g>
                    <g id="square_9">
                    <rect id="Rectangle 1_9" x="203.51" y="777.995" width="77" height="77" transform="rotate(17.0021 203.51 777.995)" stroke="#C3A9FF" stroke-width="8"/>
                    <rect id="Rectangle 2_9" x="214.438" y="798.472" width="45" height="45" transform="rotate(16.7458 214.438 798.472)" stroke="#C3A9FF" stroke-width="5"/>
                    </g>
                    <g id="square_10">
                    <rect id="Rectangle 1_10" x="1412.5" y="797.928" width="77" height="77" transform="rotate(109.521 1412.5 797.928)" stroke="#C3A9FF" stroke-width="8"/>
                    <rect id="Rectangle 2_10" x="1391.56" y="807.946" width="45" height="45" transform="rotate(109.265 1391.56 807.946)" stroke="#C3A9FF" stroke-width="5"/>
                    </g>
                    </g>
                    </g>
                    </svg>
                    
            <div id="firstHeader" class="fromTop">I am a <span>full-stack developer</span> with a focus on:</div>

            <div class="cardHolder">
                <div class="card fromBottom">
                    <div class="cardIcon">
                        <svg id="accessIcon" width="100%" height="100%" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <g id="Frame 1">
                        <rect width="100" height="100" fill="none"/>
                        <circle id="border" cx="50.5" cy="50.5" r="45" stroke="white" fill="none" stroke-width="7"/>
                        <g id="body">
                        <line id="Line 1" y1="-0.4" x2="9.66428" y2="-0.4" transform="matrix(-0.318179 0.948031 -0.949328 -0.314286 43.6247 55.4501)" stroke="white" stroke-width="0.8"/>
                        <rect id="Rectangle 6" width="30.7368" height="9.2088" rx="4" transform="matrix(0.50935 -0.86056 0.863588 0.504198 29.2749 81.901)" fill="white"/>
                        <rect id="Rectangle 5" width="30.7369" height="9.2088" rx="4" transform="matrix(0.509364 0.860551 -0.86358 0.504212 54.9525 56)" fill="white"/>
                        <rect id="Rectangle 4" x="42" y="37" width="15.3749" height="23.4141" fill="white"/>
                        <rect id="Rectangle 3" x="41.5748" y="36.108" width="16.3998" height="7.12603" fill="white"/>
                        <rect id="Rectangle 2" width="30.8799" height="9.16615" rx="4" transform="matrix(0.967208 -0.253985 0.257253 0.966344 49.7747 37.843)" fill="white"/>
                        <rect id="Rectangle 1" width="30.8795" height="9.16616" rx="4" transform="matrix(0.967197 0.254027 -0.257296 0.966333 20.3584 30)" fill="white"/>
                        <circle id="Ellipse 2" cx="50.5" cy="25.5" r="7.5" fill="white"/>
                        </g>
                        </g>
                        </svg>
                        </div>
                    <div class="cardHeader">Accessibility</div>
                    <div class="cardBody">
                        <ul>
                            <li>Adhering to all WCAG (Web Content Accessibility Guidelines) standards</li>
                            <li>Screen reader compatibility</li>
                            <li>Making websites responsive for all devices</li>
                        </ul>
                    </div>
                </div>
                <div class="card fromBottom">
                    <div class="cardIcon"></div>
                    <div class="cardHeader">User Experience</div>
                    <div class="cardBody">
                        <ul>
                            <li>Designing and implementing fluid UI</li>
                            <li>Bringing website to life with animated content</li>
                            <li>Ensuring fast load times through optimization</li>
                        </ul>
                    </div>
                </div>
                <div class="card fromBottom">
                    <div class="cardIcon"><svg id="widgetss" width="100%" height="100%" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="widgetFrame">
                        <rect width="100" height="100" fill="none"/>
                        <g id="widgets">
                        <g id="widget">
                        <rect id="Rectangle 8" width="6.14875" height="8.45453" transform="matrix(0.350136 0.960648 -0.903897 0.370851 47.8709 77.0415)" fill="white"/>
                        <rect id="Rectangle 5" width="6.14875" height="8.45453" transform="matrix(0.903897 -0.370851 0.350136 0.960648 48.4709 62.3186)" fill="white"/>
                        <rect id="Rectangle 3" width="6.26983" height="8.2847" transform="matrix(-0.384007 0.92333 -0.904912 -0.425598 51.4162 70.9396)" fill="white"/>
                        <rect id="Rectangle 1" width="6.02524" height="8.62102" transform="matrix(0.904912 0.425598 -0.384007 0.92333 60.6178 60.5417)" fill="white"/>
                        <rect id="Rectangle 4" width="6.02524" height="8.62102" transform="matrix(-0.904912 -0.425598 0.384007 -0.92333 53.4717 93.575)" fill="white"/>
                        <ellipse id="Ellipse 1" rx="10.9207" ry="11.3641" transform="matrix(0.904912 0.425598 -0.384007 0.92333 56.5326 77.2219)" fill="white"/>
                        <ellipse id="Ellipse 2" rx="3.76577" ry="3.91864" transform="matrix(0.904912 0.425598 -0.384007 0.92333 57.0238 77.0203)" fill="#2C3B52"/>
                        <rect id="Rectangle 7" width="6.14875" height="8.45453" transform="matrix(0.903897 -0.370851 0.350136 0.960648 57.2243 86.3348)" fill="white"/>
                        <rect id="Rectangle 2" width="6.26983" height="8.2847" transform="matrix(-0.384007 0.92333 -0.904912 -0.425598 72.5439 80.8763)" fill="white"/>
                        <rect id="Rectangle 6" width="6.14875" height="8.45453" transform="matrix(0.350136 0.960648 -0.903897 0.370851 71.1499 68.0907)" fill="white"/>
                        </g>
                        <g id="widget_2">
                        <rect id="Rectangle 8_2" width="8.55468" height="11.7627" transform="matrix(0.539457 0.85581 -0.805605 0.572343 14.163 59.2181)" fill="white"/>
                        <rect id="Rectangle 5_2" width="8.55468" height="11.7627" transform="matrix(0.805605 -0.572343 0.539457 0.85581 10.7595 39.0368)" fill="white"/>
                        <rect id="Rectangle 3_2" width="8.78773" height="11.4333" transform="matrix(-0.183204 0.983075 -0.978506 -0.206216 17.2277 49.7859)" fill="white"/>
                        <rect id="Rectangle 1_2" width="8.3151" height="12.0831" transform="matrix(0.978506 0.206216 -0.183204 0.983075 26.7403 32.6892)" fill="white"/>
                        <rect id="Rectangle 4_2" width="8.3151" height="12.0831" transform="matrix(-0.978506 -0.206216 0.183204 -0.983075 26.503 79.8484)" fill="white"/>
                        <ellipse id="Ellipse 1_2" rx="15.0711" ry="15.9278" transform="matrix(0.978506 0.206216 -0.183204 0.983075 25.9732 56.6567)" fill="white"/>
                        <ellipse id="Ellipse 2_2" rx="5.19694" ry="5.49233" transform="matrix(0.978506 0.206216 -0.183204 0.983075 26.5824 56.2239)" fill="#2C3B52"/>
                        <rect id="Rectangle 7_2" width="8.55468" height="11.7627" transform="matrix(0.805605 -0.572343 0.539457 0.85581 29.523 68.8037)" fill="white"/>
                        <rect id="Rectangle 2_2" width="8.78773" height="11.4333" transform="matrix(-0.183204 0.983075 -0.978506 -0.206216 48.7562 56.4304)" fill="white"/>
                        <rect id="Rectangle 6_2" width="8.55468" height="11.7627" transform="matrix(0.539457 0.85581 -0.805605 0.572343 43.2008 39.5251)" fill="white"/>
                        </g>
                        <g id="widget_3">
                        <rect id="Rectangle 8_3" width="11.2372" height="15.4512" transform="matrix(0.685049 0.728497 -0.685049 0.728497 55.1316 40.6257)" fill="white"/>
                        <rect id="Rectangle 5_3" width="11.2372" height="15.4512" transform="matrix(0.685049 -0.728497 0.685049 0.728497 45.9076 15.5277)" fill="white"/>
                        <rect id="Rectangle 3_3" x="55.9692" y="28" width="11.5771" height="14.9692" transform="rotate(90 55.9692 28)" fill="white"/>
                        <rect id="Rectangle 1_3" x="64.9593" y="3" width="10.8867" height="15.9186" fill="white"/>
                        <rect id="Rectangle 4_3" x="75.9686" y="63.8744" width="10.8867" height="15.9186" transform="rotate(180 75.9686 63.8744)" fill="white"/>
                        <ellipse id="Ellipse 1_3" cx="69.7222" cy="34.1136" rx="19.7321" ry="20.9836" fill="white"/>
                        <ellipse id="Ellipse 2_3" cx="70.4026" cy="33.39" rx="6.80418" ry="7.23572" fill="#2C3B52"/>
                        <rect id="Rectangle 7_3" width="11.2372" height="15.4512" transform="matrix(0.685049 -0.728497 0.685049 0.728497 77.2068 48.812)" fill="white"/>
                        <rect id="Rectangle 2_3" x="99" y="27.6305" width="11.5771" height="14.9692" transform="rotate(90 99 27.6305)" fill="white"/>
                        <rect id="Rectangle 6_3" width="11.2372" height="15.4512" transform="matrix(0.685049 0.728497 -0.685049 0.728497 87.7916 7.34144)" fill="white"/>
                        </g>
                        </g>
                        </g>
                        </svg></div>
                    <div class="cardHeader">Maintainability</div>
                    <div class="cardBody">
                        <ul>
                            <li>Applying well known best practices consistently</li>
                            <li>Thorough and concise documentation</li>
                            <li>Ensuring adding many new features is feasible</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <%# ------------------------------------- THIRD PANEL -------------------------------------%>
    <div id="third" class="panel">
        <div class="container">
            <div id="firstHeader" class="projHeader">Projects</div>
            <div class="projectHolder">
                <div class="projCard">

                </div>
                <div class="projCard">
                    
                </div>
                <div class="projCard">
                    
                </div>
                <div class="projCard">
                    
                </div>
                <div class="projCard">
                    
                </div>
                <div class="projCard">
                    
                </div>
            </div>

        </div>
    </div>

    <%# ------------------------------------- FOURTH PANEL -------------------------------------%>
    <div id="fourth" class="panel">
        <div class="container">
            <div id="firstHeader" class="contactHeader">Contact Me</div>

            <div class="inputHolder">
                <form id="contactForm">
                    <div class="inputGroup">
                        <label for="nameInput">Enter your name</label>
                        <input type="text" id="nameInput">
                    </div>
                    <div class="inputGroup">
                        <label for="emailInput">Enter your Email</label>
                        <input type="email" id="emailInput" placeholder="example@email.com">
                    </div>
                    <div class="inputGroup">
                        <label for="phoneInput">Enter your Phone #  *Optional</label>
                        <input type="tel" id="phoneInput" pattern="[+]{1}[0-9]{11,14}" >
                    </div>
                    <div class="inputGroup">
                        <label for="comment">Comment</label>
                        <textarea name="comment" id="comment" cols="80" rows="10" placeholder="comment"></textarea>
                    </div>
                    <button>Submit</button>
                </form>
            </div>
        </div>
    </div>

      <script src="/test.js"></script>
</body>
</html>